<main>
    <mat-toolbar>
        <h1 [routerLink]="['/nova-atividade2']"><-</h1>
                <span> Rendimentos</span>
                <span class="example-spacer"></span>
    </mat-toolbar>

    <mat-card style="align-items: center;">
        <mat-card-header>
            <mat-card-title>Total de Rendimentos</mat-card-title>
        </mat-card-header>
        <mat-card-content style="display: flex;">
            <h3>R$</h3>
            <h1>0,00</h1>
        </mat-card-content>
    </mat-card>
    <h2>Lancar Rendimentos</h2>

    <div style="width: 95%;margin: auto;">
        <form class="example-form" style="display: flex;flex-direction: column;align-items: center;">
            <mat-form-field class="example-full-width" style="width: 100%;">
                <span matTextPrefix style="display: flex;justify-content: space-between;">
                    <div style="display: flex;">
                        <div
                            style="display: flex;border: solid 1px black;border-radius: 50%;width: 1.5rem;height: 1.5rem;align-items: center;justify-content: center;">
                            U</div>
                        <div>Uber</div>
                    </div>&nbsp;
                </span>
                <input type="number" matInput placeholder="0,00" style="text-align: right;">
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width" style="width: 100%;">
                <span matTextPrefix style="display: flex;justify-content: space-between;">
                    <div style="display: flex;">
                        <div
                            style="display: flex;border: solid 1px black;border-radius: 50%;width: 1.5rem;height: 1.5rem;align-items: center;justify-content: center;">
                            99</div>
                        <div>99</div>
                    </div>&nbsp;
                </span>
                <input type="number" matInput placeholder="0,00" style="text-align: right;">
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
            <button mat-raised-button color="primary" style="width: 80%;">SALVAR</button>
        </form>
    </div>
        
</main>