<main>
    <mat-toolbar>
        
        <span class="example-spacer"></span>
        <span>My App</span>
        <span><img src="../../../assets/img/perfil.png" alt="foto de perfil" style="width: 30px;"></span>        
        
    </mat-toolbar>

    <mat-card  style="margin-top: 10px;margin-bottom: 10px;"><button mat-raised-button color="primary" [routerLink]="['/nova-atididade']">REGISTRAR ATIVIDADE DO DIA</button></mat-card>

    <mat-card>
        <mat-card-content>Resumo de ganhos</mat-card-content>
    </mat-card>
    <br>
    <mat-card style="display: flex; flex-direction: column; align-items: center;">
        <div>
            <h1>Hoje</h1>
        </div>
        <div style="display: flex;">
            <h3>R$ </h3>
            <h1>0,00 </h1>
            <h3>/R$100,00</h3>
        </div>

        <div style="width: 90%;margin: auto;">
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </div>
        <br>
    </mat-card>
    <br>
    <mat-card style="display: flex; flex-direction: column; align-items: center;">
        <div>
            <h1>Hoje</h1>
        </div>
        <div style="display: flex;">
            <h3>R$ </h3>
            <h1>0,00 </h1>
            <h3>/R$100,00</h3>
        </div>

        <div style="width: 90%;margin: auto;">
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </div>
        <br>
    </mat-card>
    <br>
    <mat-card style="display: flex; flex-direction: column; align-items: center;">
        <div>
            <h1>Hoje</h1>
        </div>
        <div style="display: flex;">
            <h3>R$ </h3>
            <h1>0,00 </h1>
            <h3>/R$100,00</h3>
        </div>

        <div style="width: 90%;margin: auto;">
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </div>
        <br>
    </mat-card>


</main>